<div class="footer bg-dark text-white text-center py-4 mt-5">
    <p class="mb-0 footer-name">Dream Hotel</p>
    <p>371 Nguyễn Kiệm, P.3, Quận Gò Vấp, TP. Hồ Chí Minh</p>
    <p><i class="bi bi-telephone"></i> &#128383; 0123456789</p>
    <p><i class="bi bi-envelope"></i> &#128386; dreamhotel@gmail.com</p>
    <div>
        <a href="#">
            <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1734768972/9980f225-52f7-42a2-9b4e-92bb27eae4dc.png"
                 width="80px" height="80px" alt="Logo">
        </a>
        <a href="#">
            <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1734768925/8255d0aa-baf4-49c8-956a-482ce4555e6e.png"
                 width="40" height="40" alt="Logo">
        </a>
    </div>
</div>