{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-5">
    <!-- Danh sách phòng đã đặt -->
    <h4>Danh sách phòng đã đặt</h4>
    <table class="table table-striped" id="bookedRoomsTable">
        <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="selectAllBookedRooms"></th>
            <th scope="col">Số phòng</th>
            <th scope="col">Loại phòng</th>
            <th scope="col">Ngày nhận</th>
            <th scope="col">Ngày trả</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Phòng trống</th>
        </tr>
        </thead>
        <tbody>
        {% set sum = 0 %}
        {% for room in booked_rooms %}
        <tr data-price="{{ room.price }}">
            <td><input type="checkbox" data-room-name="{{ room.name }}"></td>
            <td>xử lý bằng csdl</td>
            <td>{{room.level}}</td>
            <td>xử lý bằng csdl</td>
            <td>xử lý bằng csdl</td>
            <td>Còn trống</td>
            <td>xử lý bằng csdl</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-danger btn-delete">Xóa</button>
        <a href="{{url_for('rooms')}}"><button class="btn btn-outline-primary mx-2">Thêm</button></a>
        <button class="btn btn-success">Thanh toán</button>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <h5>Tổng tiền: <span id="totalAmount">0 VND</span></h5>
    </div>
</div>
{% endblock %}