{% extends 'layout/base.html' %}

{% block content %}

<!-- Display Rooms -->
<div class="container mt-5">
    <h2 class="mb-4">Phòng nghỉ</h2>
    <div class="row justify-content-center">
        <div style="max-height:  1000px; overflow-y: auto;" class="room-container row">
            {% if no_rooms_message %}
                 <label class="text-danger">{{ no_rooms_message }}</label>
            {% endif %}
            {% for room, room_type in rooms %}
            <div class="col-md-3 col-sm-6 mb-4 d-flex justify-content-center">
                <div class="card h-100">
                    <img src="{{room_type.images[1].uri}}" class="card-img-top" alt="{{ room.name }}"
                         style="max-height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{url_for('room_detail',
                                                room_id=room.id,
                                                room_name=room.name,
                                                room_style=room_type.name,
                                                checkin=checkin,
                                                checkout=checkout,
                                                room_price=room_type.price_per_night,
                                                room_capacity=room_type.capacity,
                                                ) }}">
                                Phòng {{ ROOM_TYPE_LABELS.get(room_type.name.value) }} {{room.name}}
                            </a>
                        </h5>
                        <p class="card-text"></p>
                        <p class="card-text fw-bold">Giá: {{ "{:,.0f}".format(room_type.price_per_night).replace(',', '.') }} VND</p>
                        <p class="card-text">Miêu tả: {{ room_type.description }}</p>
                        <p class="card-text">Loại phòng: {{ROOM_TYPE_LABELS.get(room_type.name.value, room_type.name.value)}}</p>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-bed"></i> 🛏️ {{BED_TYPE_LABELS.get(room_type.capacity)}}  </li>
                            <li><i class="bi bi-people mr-2"></i> &#128101; {{room_type.capacity}} Người lớn </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}