{% extends 'layout/base.html' %}

{% block content %}
<!-- Room Search -->
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <form class="row g-3" action="{{url_for('search_rooms')}}" method="POST" enctype="multipart/form-data">
                <div class="col-md-2">
                    <select class="form-select" name="room_type" aria-label="Chọn loại phòng">
                        <option selected>Phòng</option>
                        <option value="1">Phòng Bình Thường</option>
                        <option value="2">Phòng Gia Đình</option>
                        <option value="3">Phòng Doanh Nhân</option>
                        <option value="4">Phòng VIP</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control" name="check_in" placeholder="Ngày đến">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control" name="check_out" placeholder="Ngày đi">
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="adults" placeholder="Người lớn" min="0">
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="children" placeholder="Trẻ em" min="0">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100">Kiểm tra phòng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Display Rooms -->
<div class="container mt-5">
    <h2 class="mb-4">Phòng nghỉ</h2>
    <div class="row">
        <div style="max-height: 500px; overflow-y: auto;" class="room-container row">
            {% for room in rooms %}
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <img src="{{room.images[0].uri}}" class="card-img-top" alt="{{ room.name }}"
                         style="max-height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{url_for('booking_process')}}">
                                {{ room.name }}
                            </a>
                        </h5>
                        <p class="card-text"></p>
                        <p class="card-text fw-bold">Giá: {{room.price_per_night}} VND</p>
                        <p class="card-text">Miêu tả: {{ room.description }}</p>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-square"></i> </li>
                            <li><i class="bi bi-bed"></i> </li>
                            <li><i class="bi bi-people"></i>  {{room.capacity}} </li>
                            <li><i class="bi bi-eye"></i> </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}