{%extends 'layout/base.html'%}
{%block content%}
<!-- Carousel-->
<div id="hotelCarousel" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src={{image[0].uri}} width="1200px" height="400px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src={{image[1].uri}} width="1200px" height="400px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src={{image[2].uri}} width="1200px" height="400px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src={{image[3].uri}} width="1200px" height="400px" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hotelCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hotelCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container mt-5">
    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Thăm phòng</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="experience-tab" data-bs-toggle="tab" href="#experience" role="tab"
               aria-controls="experience" aria-selected="false">Trải nghiệm</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="story-tab" data-bs-toggle="tab" href="#story" role="tab" aria-controls="story"
               aria-selected="false">Câu chuyện</a>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991052/Images/TabNavigation/ThamPhong/jaf4xowxd3lijqatpr6j.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991052/Images/TabNavigation/ThamPhong/tb6viosxcmvinov3wgva.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991051/Images/TabNavigation/ThamPhong/gknvyvq6sjx39k8lejjp.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991052/Images/TabNavigation/TraiNghiem/oqhcuv40akbiv66f8gyp.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Experience the best rooms in our hotel.</p>
                </div>

                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991052/Images/TabNavigation/TraiNghiem/fqmv0iuzcqhcsdetdqjk.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Indulge in luxurious experiences tailored for you.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="story" role="tabpanel" aria-labelledby="story-tab">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991051/Images/TabNavigation/CauChuyen/cjfqfzwfrfulvcxdwqyb.jpg"
                         width="150px" height="150px" class="img-fluid" alt="..." loading="lazy">
                    <p>Learn about the history of Dream Hotel.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991051/Images/TabNavigation/CauChuyen/hioruykz4nzulrqo6m5k.jpg" width="150px" height="150px" class="img-fluid" alt="...">
                    <p>Discover the inspiration behind the hotel's design.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/dnqt29l2e/image/upload/v1733991051/Images/TabNavigation/CauChuyen/s8b7ax54wfuorz40ggmf.jpg" width="150px" height="150px" class="img-fluid" alt="...">
                    <p>Hear about our founder's journey in the hospitality industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}